/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../assets/styles/main.scss */
html {
  font-size: 125%;
}

/* line 9, ../../assets/styles/main.scss */
body {
  font-family: "source_sans_prolight";
}

/* line 13, ../../assets/styles/main.scss */
p {
  line-height: 1.5;
  margin-bottom: 1em;
}

/**
 * NAVIGATION
 */
/* line 25, ../../assets/styles/main.scss */
.nav__list {
  text-align: center;
  font-size: 0;
}
/* line 29, ../../assets/styles/main.scss */
.nav__list:before, .nav__list:after {
  content: " ";
  display: inline-block;
  height: .125em;
  width: 5em;
  vertical-align: middle;
  background-color: #f1f1eb;
}
/* line 38, ../../assets/styles/main.scss */
.nav__list:before {
  margin-right: 1.25em;
}
/* line 42, ../../assets/styles/main.scss */
.nav__list:after {
  margin-left: 1.25em;
}

/* line 47, ../../assets/styles/main.scss */
.nav__item {
  display: inline-block;
  font-size: 20px;
  font-size: 1rem;
}

/* line 53, ../../assets/styles/main.scss */
.nav__link {
  display: block;
  color: #333745;
  padding: 1.25em 1.25em 1.25em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 61, ../../assets/styles/main.scss */
.nav__link:hover {
  color: #12adde;
}

/* line 67, ../../assets/styles/main.scss */
.section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f1f1eb;
}
/* line 72, ../../assets/styles/main.scss */
.section:nth-child(2n) {
  background-color: #444;
  color: #f1f1eb;
}
@media (min-width: 30em) {
  /* line 67, ../../assets/styles/main.scss */
  .section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
@media (min-width: 45em) {
  /* line 67, ../../assets/styles/main.scss */
  .section {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
@media (min-width: 60em) {
  /* line 67, ../../assets/styles/main.scss */
  .section {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

/* line 93, ../../assets/styles/main.scss */
.section--home {
  position: relative;
  padding-top: 50%;
  max-height: 500px;
  background-image: url(../images/home__background.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
}
@media (min-width: 60em) {
  /* line 93, ../../assets/styles/main.scss */
  .section--home {
    padding-top: 40%;
  }
}
@media (min-width: 75em) {
  /* line 93, ../../assets/styles/main.scss */
  .section--home {
    padding-top: 25em;
  }
}

/**
 * WELCOME
 */
/* line 118, ../../assets/styles/main.scss */
.welcome {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(68, 72, 86, 0.5);
  font-size: 1.25em;
  opacity: .95;
}
@media (min-width: 30em) {
  /* line 118, ../../assets/styles/main.scss */
  .welcome {
    font-size: 1.5em;
  }
}
@media (min-width: 45em) {
  /* line 118, ../../assets/styles/main.scss */
  .welcome {
    font-size: 2em;
  }
}
@media (min-width: 60em) {
  /* line 118, ../../assets/styles/main.scss */
  .welcome {
    font-size: 2.5em;
  }
}

/* line 137, ../../assets/styles/main.scss */
.welcome__names {
  font-size: 2em;
  font-family: "mission_scriptregular", script;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  margin-bottom: .25em;
  width: 6em;
  margin: 0 auto .25em;
}

/* line 146, ../../assets/styles/main.scss */
.welcome__text {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
}

/* line 154, ../../assets/styles/main.scss */
.welcome__date {
  display: block;
  font-weight: 700;
  margin-bottom: .125em;
  font-family: "klinic_slabbold";
}

/* line 161, ../../assets/styles/main.scss */
.welcome__location {
  display: block;
  font-size: .75em;
  font-family: "klinic_slablight";
}

/* line 174, ../../assets/styles/main.scss */
.obligatory a {
  text-decoration: none;
  color: #12adde;
}

/* line 180, ../../assets/styles/main.scss */
.section-heading {
  font-size: 3em;
  font-family: "source_sans_problack";
}

/* line 196, ../../assets/styles/main.scss */
.part-1 {
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 196, ../../assets/styles/main.scss */
  .part-1 {
    max-width: 80%;
  }
}
@media (min-width: 60em) {
  /* line 196, ../../assets/styles/main.scss */
  .part-1 {
    max-width: 70%;
  }
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 9, 2013 */
@font-face {
  font-family: 'source_sans_problack';
  src: url("../fonts/sourcesanspro-black-webfont.eot");
  src: url("../fonts/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-black-webfont.woff") format("woff"), url("../fonts/sourcesanspro-black-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-black-webfont.svg#source_sans_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack_italic';
  src: url("../fonts/sourcesanspro-blackitalic-webfont.eot");
  src: url("../fonts/sourcesanspro-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-blackitalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-blackitalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-blackitalic-webfont.svg#source_sans_problack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold_italic';
  src: url("../fonts/sourcesanspro-bolditalic-webfont.eot");
  src: url("../fonts/sourcesanspro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proextralight';
  src: url("../fonts/sourcesanspro-extralight-webfont.eot");
  src: url("../fonts/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralight-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralight-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proXLtIt';
  src: url("../fonts/sourcesanspro-extralightitalic-webfont.eot");
  src: url("../fonts/sourcesanspro-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralightitalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralightitalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralightitalic-webfont.svg#source_sans_proXLtIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proitalic';
  src: url("../fonts/sourcesanspro-italic-webfont.eot");
  src: url("../fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight_italic';
  src: url("../fonts/sourcesanspro-lightitalic-webfont.eot");
  src: url("../fonts/sourcesanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-lightitalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-lightitalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proSBdIt';
  src: url("../fonts/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../fonts/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibolditalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mission_scriptregular';
  src: url("../fonts/mission-script-webfont.eot");
  src: url("../fonts/mission-script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mission-script-webfont.woff") format("woff"), url("../fonts/mission-script-webfont.ttf") format("truetype"), url("../fonts/mission-script-webfont.svg#mission_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabbold';
  src: url("../fonts/klinicslabbold-webfont.eot");
  src: url("../fonts/klinicslabbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabbold-webfont.woff") format("woff"), url("../fonts/klinicslabbold-webfont.ttf") format("truetype"), url("../fonts/klinicslabbold-webfont.svg#klinic_slabbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabbold_italic';
  src: url("../fonts/klinicslabboldit-webfont.eot");
  src: url("../fonts/klinicslabboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabboldit-webfont.woff") format("woff"), url("../fonts/klinicslabboldit-webfont.ttf") format("truetype"), url("../fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabbook';
  src: url("../fonts/klinicslabbook-webfont.eot");
  src: url("../fonts/klinicslabbook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabbook-webfont.woff") format("woff"), url("../fonts/klinicslabbook-webfont.ttf") format("truetype"), url("../fonts/klinicslabbook-webfont.svg#klinic_slabbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabbook_italic';
  src: url("../fonts/klinicslabbookit-webfont.eot");
  src: url("../fonts/klinicslabbookit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabbookit-webfont.woff") format("woff"), url("../fonts/klinicslabbookit-webfont.ttf") format("truetype"), url("../fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slablight';
  src: url("../fonts/klinicslablight-webfont.eot");
  src: url("../fonts/klinicslablight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslablight-webfont.woff") format("woff"), url("../fonts/klinicslablight-webfont.ttf") format("truetype"), url("../fonts/klinicslablight-webfont.svg#klinic_slablight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slablight_italic';
  src: url("../fonts/klinicslablightit-webfont.eot");
  src: url("../fonts/klinicslablightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslablightit-webfont.woff") format("woff"), url("../fonts/klinicslablightit-webfont.ttf") format("truetype"), url("../fonts/klinicslablightit-webfont.svg#klinic_slablight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabmedium';
  src: url("../fonts/klinicslabmedium-webfont.eot");
  src: url("../fonts/klinicslabmedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabmedium-webfont.woff") format("woff"), url("../fonts/klinicslabmedium-webfont.ttf") format("truetype"), url("../fonts/klinicslabmedium-webfont.svg#klinic_slabmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'klinic_slabmedium_italic';
  src: url("../fonts/klinicslabmediumit-webfont.eot");
  src: url("../fonts/klinicslabmediumit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klinicslabmediumit-webfont.woff") format("woff"), url("../fonts/klinicslabmediumit-webfont.ttf") format("truetype"), url("../fonts/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
