<div class="nav nav--top">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Our Story</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">RSVP</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Details</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Registry</a>
        </li>
    </ul>
</div>

<section class="section section--home">
    <h1>Welcome!</h1>
</section>

<section class="section section--story">
    <h1>Our story</h1>
</section>

<section class="section section--rsvp">
    <h1>RSVP</h1>
</section>

<section class="section section--rsvp">
    <h1>Details</h1>
</section>

<section class="section section--registry">
    <h1>Registry</h1>
</section>

<section class="section section--footer">
    <p class="obligatory"><a href="http://www.joshmatz.com">Site built by the groom</a></p>
</section>