
<section class="section section--home">
    <div class="welcome">
        <h1 class="welcome__names">Rachael <span class="amp">&amp;</span> <span class="j">J</span>osh</h1>
        <p class="welcome__text"><span class="welcome__date">December 21, 2013</span><span class="welcome__location">Richardson, Texas</span></p>
    </div>
</section>

<div class="nav nav--top">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
            <a href="/our-story" class="nav__link">Our Story</a>
        </li>
        <li class="nav__item">
            <a href="/rsvp" class="nav__link">RSVP</a>
        </li>
        <li class="nav__item">
            <a href="/details" class="nav__link">Details</a>
        </li>
        <li class="nav__item">
            <a href="/registry" class="nav__link">Registry</a>
        </li>
    </ul>
</div>

<section class="section section--story">
    <div class="part-1">
        <h1 class="section-heading">Our Story</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius, dolor vel eleifend sollicitudin, justo orci consectetur nunc, vel adipiscing augue turpis at tortor. Aliquam pretium sapien ac felis ornare, vitae iaculis risus tempus. Mauris adipiscing tempus egestas. In nisi nulla, ultricies sit amet commodo ac, posuere dapibus justo. Sed non ante vel leo aliquam porta sit amet et metus. Vestibulum commodo risus nec justo ultrices, vel condimentum libero aliquet. Integer adipiscing dictum dui, sit amet ornare libero dapibus at. Phasellus ut mattis mauris. Donec dapibus est a quam eleifend, nec cursus augue ornare. Aenean lacus sapien, cursus vel fermentum ac, suscipit at orci. Fusce convallis augue elit, non congue nulla tincidunt a. Nam sollicitudin sodales arcu, ac rutrum erat placerat eu. Quisque sed velit bibendum, elementum est id, adipiscing quam. Morbi lacus quam, blandit vel dolor vitae, pellentesque luctus est. Etiam eu est id mauris luctus interdum molestie ut dolor. Curabitur ut nisi elit.</p>
        <p>Etiam facilisis lobortis tellus id vestibulum. Duis est nulla, lacinia a vestibulum in, tincidunt ac nunc. Cras non gravida orci, eu tristique enim. Fusce est velit, mattis et venenatis sed, porta eget dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu nulla et turpis consequat laoreet. Quisque eget vestibulum leo. Donec convallis interdum velit vitae dictum. Duis feugiat magna ac consequat venenatis. Donec et cursus ligula. Vivamus vestibulum orci eget ipsum pretium dictum. Maecenas sodales tellus vitae elit accumsan, id ultricies metus cursus. Morbi adipiscing malesuada dolor, at gravida nibh. Praesent suscipit odio sed turpis gravida venenatis. In metus nisi, posuere et malesuada nec, congue sit amet orci.</p>
    </div>
</section>

<section class="section section--rsvp">
    <h1 class="section-heading">RSVP</h1>
    <p>Help us get a head count.</p>
    <form class="rsvp">
        <input type="text" name="names" id="js-name" />
        <a href="#" class="minus">-</a>
        <input type="text" name="count" id="js-name" />
        <a href="#" class="plus">+</a>
    </form>
</section>

<section class="section section--details">
    <div class="part-1">
        <h1 class="section-heading">The drinks</h1>
        <p>We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere.</p>
        <p>We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere.</p>
    </div>
</section>

<section class="section section--registry">
    <div class="part-1">
        <h1 class="section-heading">The drinks</h1>
        <p>We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere.</p>
        <p>We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere. Debauchery everywhere. We became alcholics that night. Intoxicated a lot. Debauchery everywhere.</p>
    </div>
</section>

<section class="section section--footer">
    <p class="obligatory"><a href="http://www.joshmatz.com">Site built by the groom</a></p>
</section>